.header {
  display: flex;
  align-items: center;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
}

.main > * {
  flex: 1;
  min-width: 0;
}

fieldset {
  border: none;
}

h3 {
  margin: 0;
}