.header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 15px;
  border-bottom: 1px solid black;

}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
}

.main > * {
  flex: 1;
  border: 1px solid black;
  min-width: 0;
}

.activityRow {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
